<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <autofac defaultAssembly="IOCPerformanceTest.Core">
    <components>
      <component type="IOCPerformanceTest.Core.SqlDatabase, IOCPerformanceTest.Core" service="IOCPerformanceTest.Core.IDatabase"/>
    </components>
  </autofac>
  
  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <object id="DatabaseManager_Singleton" type="IOCPerformanceTest.Core.DatabaseManager, IOCPerformanceTest.Core" singleton="true">
        <constructor-arg name="database" ref="Database"/>
      </object>
      <object id="DatabaseManager_Transient" type="IOCPerformanceTest.Core.DatabaseManager, IOCPerformanceTest.Core" singleton="false">
        <constructor-arg name="database" ref="Database"/>
      </object>
      <object id="Database" type="IOCPerformanceTest.Core.SqlDatabase, IOCPerformanceTest.Core">
      </object>
    </objects>
  </spring>
  
  <appSettings>
    <add key="Iteration" value="100000" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
